

<div class="poc">

<br >
  <h2>CSM Routing POC</h2>
<!--
  User:<input type="text" [(ngModel)]="user"/><br>
  Pwd:<input type="password" [(ngModel)]="pwd"/> &nbsp;

  <button type="button" (click)="onClickMe()">Save DB Login</button>
-->

  <p></p>
  <p></p>
  <br id="params">
    Source:
    <select
      class="form-control"
      id="pSource"
      name="pSource"
      [(ngModel)]="sourceParticipant"
    >
      <option *ngFor="let sp of sourceParticipants$ | async" [ngValue]="sp">{{ sp.bankIdentifier}}</option>
    </select><span *ngIf="sourceParticipant"> {{ sourceParticipant.name}}, {{ sourceParticipant.city}}</span> <div *ngIf="sourceParticipant">{{ sourceParticipant.bankIdentifier}}</div><br>
    Target:
    <select
      class="form-control"
      id="pTarget"
      name="pTarget"
      [(ngModel)]="targetParticipant"
    >
      <option *ngFor="let tp of targetParticipants$ | async" [ngValue]="tp">{{ tp.bankIdentifier}}</option>
    </select><span *ngIf="targetParticipant"> {{ targetParticipant.name}}, {{ targetParticipant.city}}</span><br>
    <p></p>
    <button type="button" (click)="onFindPayment()">Find Payment Routes</button>
    <p></p>
    Filters:
    <hr>
    Currency:
    <select
      class="form-control"
      id="pCurrency"
      name="pCurrency"
      [(ngModel)]="selectedCurrency"
    >
      <option value="" disabled>Choose a Currency</option>
      <option *ngFor="let c of currencies$ | async" [ngValue]="c.isoCode">{{ c.isoCode }}</option>
    </select><br>
    Service Level:
    <input type="radio" [(ngModel)]="selectedServiceLevel"  name="sla" value="INST">IP
    <input type="radio" [(ngModel)]="selectedServiceLevel"  name="sla" value="Non-INST">Non-IP


  <div id="presets">
    <ul *ngFor="let p of presets; let idx=index">
      <li>
        <input type="radio" id={{idx}}  [(ngModel)]="selectedPreset" name="preset" value="p" (click)="selectPreset(p)" ><label for={{idx}}>{{p.description}}</label>
      </li>
    </ul>
  </div>
<hr>
  <p *ngFor="let r of paymentRoutes$ | async">[{{r.hops}}]&nbsp;{{r.node_names}}</p>
<hr>
  <div *ngFor="let r of paymentRoutes$ | async" >
    <app-route [route]="r"></app-route><p></p>
  </div>
</div>
