#params{
  border: solid #000;
  border-width: 1px 1px 1px 1px;
  padding-left: 5px;
  width: 50%;
}
#presets{
  border: solid #000;
  border-width: 1px 1px 1px 1px;
  padding-left: 5px;
  width: 50%;
  height: 120px;
}
