.circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #fe0303;
}
.FinancialInstitution{
  background: #02e1fa;
}
.CSMAgent{
  background: #021ffa;
}
.CSMParticipant{
  background: #48fa02;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
